<%include ./layout/header.ejs%>
    <div class="slider-area">
        	<!-- Slider -->
			<div class="block-slider block-slider4">
				<ul class="" id="bxslider-home4">
					<li>
						<img src="images/img_product/h4-slide.png" alt="Slide">
						<div class="caption-group">
							<h2 class="caption title">
								iPhone <span class="primary">6 <strong>Plus</strong></span>
							</h2>
							<h4 class="caption subtitle">Dual SIM</h4>
							<a class="caption button-radius" href="#"><span class="icon"></span>Shop now</a>
						</div>
					</li>
					<li><img src="images/img_product/h4-slide2.png" alt="Slide">
						<div class="caption-group">
							<h2 class="caption title">
								by one, get one <span class="primary">50% <strong>off</strong></span>
							</h2>
							<h4 class="caption subtitle">school supplies & backpacks.*</h4>
							<a class="caption button-radius" href="#"><span class="icon"></span>Shop now</a>
						</div>
					</li>
					<li><img src="images/img_product/h4-slide3.png" alt="Slide">
						<div class="caption-group">
							<h2 class="caption title">
								Apple <span class="primary">Store <strong>Ipod</strong></span>
							</h2>
							<h4 class="caption subtitle">Select Item</h4>
							<a class="caption button-radius" href="#"><span class="icon"></span>Shop now</a>
						</div>
					</li>
					<li><img src="images/img_product/h4-slide4.png" alt="Slide">
						<div class="caption-group">
						  <h2 class="caption title">
								Apple <span class="primary">Store <strong>Ipod</strong></span>
							</h2>
							<h4 class="caption subtitle">& Phone</h4>
							<a class="caption button-radius" href="#"><span class="icon"></span>Shop now</a>
						</div>
					</li>
				</ul>
			</div>
			<!-- ./Slider -->
    </div> <!-- End slider area -->
    
    <div class="promo-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="single-promo promo1">
                        <i class="fa fa-refresh"></i>
                        <p>Đổi trả trong vòng 30 ngày</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-promo promo2">
                        <i class="fa fa-truck"></i>
                        <p>Giao hàng nhanh chóng</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-promo promo3">
                        <i class="fa fa-lock"></i>
                        <p>Thanh toán an toàn</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-promo promo4">
                        <i class="fa fa-gift"></i>
                        <p>Sản phẩm chính hãng</p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End promo area -->
    
    <div class="maincontent-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="latest-product">
                        <h2 class="section-title">Sản phẩm mới nhất</h2>
                        <div class="product-carousel">
                            <%
                                product.reverse().forEach(function(pr){%>
                                    <div class="single-product">
                                        <div class="product-f-image">
                                            <img src="images/img_product/<%= pr.images[0] %>" alt="" style="width: 195px;height: 243px;">
                                            <div class="product-hover">
                                                <a href="/product-detail/<%= pr._id %>" class="view-details-link"><i class="fa fa-link"></i> Chi tiết</a>
                                            </div>
                                        </div>            
                                        <h2><a href="/product-detail/<%= pr._id %>"><%= pr.name %></a></h2>
                                        <div class="product-wid-rating">
                                            <%
                                                rate.forEach(function(item){
                                                    if(pr._id.toString()==item._id.toString()){
                                                        for(let i=0;i< Math.round((item.rate / parseInt(item.length.length)));i++){%>
                                                            <i class="fa fa-star"></i>
                                                        <%}
                                                    }
                                                })
                                            %>
                                        </div>
                                        <div class="product-carousel-price">
                                            <ins><%= numeral(pr.price).format('0,0') %>₫</ins> <del><%= numeral(pr.discount).format('0,0') %>₫</del>
                                        </div> 
                                    </div>
                                <%})
                            %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End main content area -->
    
    <div class="brands-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="brand-wrapper">
                        <div class="brand-list">
                            <img src="images/img_product/brand1.png" alt="">
                            <img src="images/img_product/brand2.png" alt="">
                            <img src="images/img_product/brand3.png" alt="">
                            <img src="images/img_product/brand4.png" alt="">
                            <img src="images/img_product/brand5.png" alt="">
                            <img src="images/img_product/brand6.png" alt="">
                            <img src="images/img_product/brand1.png" alt="">
                            <img src="images/img_product/brand2.png" alt="">                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End brands area -->
    
    <div class="product-widget-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="single-product-widget">
                        <h2 class="product-wid-title">Sản phẩm bán chạy</h2>
                        <!-- <a href="" class="wid-view-more">View All</a> -->
                        <%
                            for(let i=0;i<=2;i++){%>
                                <div class="single-wid-product">
                                    <img src="images/img_product/<%= productSells[i].product.images[0] %>" alt="" class="product-thumb">
                                    <h2><a href="/product-detail/<%= productSells[i].product._id %>"><%= productSells[i].product.name %></a></h2>
                                    <div class="product-wid-rating">
                                        <%
                                            rate.forEach(function(item){
                                                if(productSells[i].product._id.toString()==item._id.toString()){
                                                    for(let i=0;i< Math.round((item.rate / parseInt(item.length.length)));i++){%>
                                                        <i class="fa fa-star"></i>
                                                    <%}
                                                }
                                            })
                                        %>
                                    </div>
                                    <div class="product-wid-price">
                                        <ins><%= numeral(productSells[i].product.price).format('0,0') %>₫</ins> <del><%= numeral(productSells[i].product.discount).format('0,0') %>₫</del>
                                    </div>                            
                                </div>
                            <%}    
                        %>  
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-product-widget">
                        <h2 class="product-wid-title">Đã xem gần đây</h2>
                        <%
                            if(productseen.length>0){
                                productseen.reverse().forEach(function(id,index){
                                    product.forEach(function(pr){
                                        if(id.toString()==pr._id.toString() && index <=2){%>
                                            <div class="single-wid-product">
                                                <a href="#"><img src="images/img_product/<%= pr.images[0] %>" alt="" class="product-thumb"></a>
                                                <h2><a href="/product-detail/<%= pr._id %>"><%= pr.name %></a></h2>
                                                <div class="product-wid-rating">
                                                    <%
                                                        rate.forEach(function(item){
                                                            if(pr._id.toString()==item._id.toString()){
                                                                for(let i=0;i< Math.round((item.rate / parseInt(item.length.length)));i++){%>
                                                                    <i class="fa fa-star"></i>
                                                                <%}
                                                            }
                                                        })
                                                    %>
                                                </div>
                                                <div class="product-wid-price">
                                                    <ins><%= numeral(pr.price).format('0,0') %>₫</ins> <del><%= numeral(pr.discount).format('0,0') %>₫</del>
                                                </div>                            
                                            </div>
                                        <%}
                                    })
                                })
                            }else{%>
                                Danh sách đã xem rỗng !
                            <%}
                        %>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-product-widget">
                        <h2 class="product-wid-title">Giảm giá cực mạnh </h2>
                        <%
                            sales.forEach(function(pr,index){
                                if(index<3){%>
                                    <div class="single-wid-product">
                                        <a href="/product-detail/<%= pr._id %>"><img src="images/img_product/<%= pr.images[0] %>" alt="" class="product-thumb"></a>
                                        <h2><a href="/product-detail/<%= pr._id %>"><%= pr.name %></a></h2>
                                        <div class="product-wid-rating">
                                            <%
                                                rate.forEach(function(item){
                                                    if(pr._id.toString()==item._id.toString()){
                                                        for(let i=0;i< Math.round((item.rate / parseInt(item.length.length)));i++){%>
                                                            <i class="fa fa-star"></i>
                                                        <%}
                                                    }
                                                })
                                            %>
                                        </div>
                                        <div class="product-wid-price">
                                            <ins><%= numeral(pr.price).format('0,0') %>₫</ins> <del><%= numeral(pr.discount).format('0,0') %>₫</del>
                                        </div>                            
                                    </div>
                                <%}
                            })
                        %>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End product widget area -->
<%include ./layout/footer.ejs%>