<%include ./layout/header.ejs%>
<%
    <!-- //tính data max -->
    function dataMax(cart,product){
        for(let i = 0; i < cart.length; i++){
            if(cart[i].productId == product._id){
                return product.quantity - parseInt(cart[i].quantityOrder)
            }else{
                return product.quantity
            }
        } 
    }
%>
<style>
    .rate{
        float: right;
        width: 20px;
        height: 20px;
    }
</style>
<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Chi tiết sản phẩm</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="single-sidebar">
                    <h2 class="sidebar-title">Sản phẩm</h2>
                    <%
                        productList.forEach(function(item,index){
                            if(index <= 3 ){%>
                                <div class="thubmnail-recent">
                                    <img src="/images/img_product/<%= item.images[0] %>" class="recent-thumb" alt="">
                                    <h2><a href="/product-detail/<%= item._id %>"><%= item.name %></a></h2>
                                    <div class="product-sidebar-price">
                                        <ins><%= numeral(product.price).format('0,0') %>₫</ins> <del><%= numeral(product.discount).format('0,0') %>₫</del>
                                    </div>
                                </div>
                            <%}
                        })
                    %>
                </div>

                <div class="single-sidebar">
                    <h2 class="sidebar-title">Đánh giá của bạn !</h2>
                    <form id="rate">
                        <div class="product-wid-rating">
                            <ul>
                                <li>
                                    <i class="fa fa-star"></i><input type="radio" name="rate" class="rate" value="1">
                                </li>
                            </ul>
                        </div>
                        <div class="product-wid-rating">
                            <ul>
                                <li>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i><input type="radio" name="rate" class="rate" value="2">
                                </li>
                            </ul>
                        </div>
                        <div class="product-wid-rating">
                            <ul>
                                <li>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i><input type="radio" name="rate" class="rate" value="3">
                                </li>
                            </ul>
                        </div>
                        <div class="product-wid-rating">
                            <ul>
                                <li>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i><input type="radio" name="rate" class="rate" value="4">
                                </li>
                            </ul>
                        </div>
                        <div class="product-wid-rating">
                            <ul>
                                <li>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i><input type="radio" name="rate" class="rate" value="5">
                                </li>
                            </ul>
                        </div>
                    </form>
                    <div class="product-wid-rating">
                        <button type="button" class="btn btn-primary" style="margin-left: 139px;" id="sendRate" data-idP="<%= product._id %>" data-idC="<%= idCustomer %>">Gửi đánh giá</button>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="product-content-right">
                    <div class="product-breadcroumb">
                        <a href="">Home</a>
                        <a href="">Category Name</a>
                        <a href=""><%= product.name %></a>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="product-images">
                                <div class="product-main-img">
                                    <img src="/images/img_product/<%= product.images[0] %>" alt="">
                                </div>

                                <div class="product-gallery">
                                    <%
                                            if(product.images.length>1){
                                                for(let i=1;i<4;i++){%>
                                    <img src="/images/img_product/<%= product.images[i]%>" alt=""
                                        style="width: 70px;height: 70px;">
                                    <%}
                                            }
                                        %>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="product-inner">
                                <h2 class="product-name"><%= product.name %></h2>
                                <div class="product-inner-price">
                                    <ins><%= numeral(product.price).format('0,0') %>₫</ins> <del><%= numeral(product.discount).format('0,0') %>₫</del>
                                </div>

                                <form class="cart" id="cart">
                                    <div class="quantity">
                                        <input type="number" min="1" max="<%- cart.length > 0 ? dataMax(cart,product) : product.quantity %>" step="1"
                                             class="input-text qty text" name="quantityOrder" onchange="change()" id="quantityOrder" value="1" data-max="<%- cart.length > 0 ? dataMax(cart,product) : product.quantity %>">
                                    </div>
                                    <button class="add_to_cart_button" type="button" data="<%= product %>"
                                        data-id="<%= product._id %>">Thêm vào giỏ</button>
                                    <p style="color: red;" id="mes"></p>
                                </form>

                                <div role="tabpanel">
                                    <ul class="product-tab" role="tablist">
                                        <li role="presentation" class="active"><a href="#home" aria-controls="home"
                                                role="tab" data-toggle="tab">Description</a></li>
                                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab"
                                                data-toggle="tab">Reviews</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane fade in active" id="home">
                                            <h2>Mô tả chi tiết</h2>
                                            <p><%= product.description %></p>
                                            <ul>
                                                <li>Bộ nhớ trong :<%= product.memory %></li>
                                                <li>Ram :<%= product.ram %></li>
                                                <li>Camera :<%= product.camera %></li>
                                            </ul>
                                        </div>
                                        <div role="tabpanel" class="tab-pane fade" id="profile">
                                            <div id="fb-root"></div>
                                            <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v7.0"></script>
                                            <div class="fb-comments" data-href="https://www.facebook.com/nguyen.quangloi.982/videos/<%= product._id %>" data-width="150"></div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="related-products-wrapper">
                        <h2 class="related-products-title">Sản phẩm liên quan</h2>
                        <div class="related-products-carousel">
                            <%
                                relatedProduct.forEach(function(item,index){
                                    if(item._id != idDetail){%>
                                        <div class="single-product">
                                            <div class="product-f-image">
                                                <img src="/images/img_product/<%= item.images[0] %>" alt="" style="width: 195px;height: 243px;">
                                                <div class="product-hover">
                                                    <a href="/product-detail/<%= item._id %>" class="view-details-link"><i class="fa fa-link"></i>Chi tiết</a>
                                                </div>
                                            </div>
            
                                            <h2><%= item.name %></h2>
            
                                            <div class="product-carousel-price">
                                                <ins><%= numeral(product.price).format('0,0') %>₫</ins> <del><%= numeral(product.discount).format('0,0') %>₫</del>
                                            </div>
                                        </div>
                                    <%}
                                })
                            %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%include ./layout/footer.ejs%>
<script>
    var product = JSON.parse('<%- JSON.stringify(product)%>');
    var cart = JSON.parse('<%- JSON.stringify(cart)%>');
    var idCustomer = JSON.parse('<%- JSON.stringify(idCustomer)%>');
    function change() {
        let dataMax = $("#quantityOrder").attr('data-max');
        if (parseInt($('#quantityOrder').val()) > parseInt(dataMax)) {
            $('#quantityOrder').val(dataMax)
            $('#mes').html("");
            $('#mes').append("Số lượng lớn nhất có thể mua là: " + dataMax )
        }
    }
    
    $(document).on('click', '.add_to_cart_button', function () {
        var _id = $(this).attr('data-id');
        $.ajax({
            method: "POST",
            url: "/product-detail/" + _id,
            data: $('#cart').serialize()
        }).done(function( resp ) {
            if (resp.code==200) {
                swal("Thành công !", "Sản phảm đã được thêm vào giỏ hàng", "success").then(function () {
                    window.location.href = "/home";
                })
            } else {
                swal ( "Thất bại !" , "Số lượng mua quá lớn", "error" )
            }
        });
    })
    //Gửi đánh giá
    $(document).on('click', '#sendRate', function () {
        if (idCustomer == null) {
            swal("Mua hàng thất bại !", "Vui lòng đăng nhập trước khi đánh giá ! ", "error").then(function () {
                window.location.href = "/login"
            })
        } else {
            var idC= $(this).attr('data-idC');
            var idP= $(this).attr('data-idP');
            $.ajax({
                method: "POST",
                url: "/rate",
                data: { idC: idC, idP:idP,rate: $('input[name=rate]:checked').val()}
            }).done(function (resp) {
                if (resp.code == 200) {
                    swal("Thành công !", "Cảm ơn bạn đã gửi đánh giá", "success").then(function () {
                        location.reload();
                    })
                } else {
                    swal("Thất bại !", "Đánh giá thất bại", "error")
                }
            });
        }
    })
</script>